.dialog {
  position: fixed;
  inset: 0;

  /* make dialog always on top */
  z-index: 100;
}

.overlay {
  background: hsla(221, 24%, 13%, 0.64);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
}

.scrollable {
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.center {
  --padding: 24px 12px;
  padding: var(--padding);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .center {
    --padding: 24px;
  }
}

.panel {
  width: 100%;
  max-width: 486px;

  /* set relative so close button can position with it */
  position: relative;
  background: white;
  box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.34);
  border-radius: var(--radius);
}

.close {
  padding: 6px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: white;
  border-radius: var(--radius);
  cursor: pointer;
  color: hsl(251, 10%, 21%);
}

.close:hover {
  background: hsl(353, 39%, 91%);
  transition: background-color 200ms ease;
}
