.dialog {
  position: fixed;
  inset: 0;

  /* make dialog always on top */
  z-index: 100;
}

.overlay {
  background: hsla(221, 24%, 13%, 0.64);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
}

.scrollable {
  margin: auto;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  pointer-events: none;
}

.center {
  padding: 24px 0;
  margin: 0 0.5rem;
  /*
    width: auto make the current element expand to fit the content,
    like original div
  */
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}



@media screen and (min-width: 480px) {
  .center {
    margin: 0 auto;
    max-width: 440px;
  }
}

.panel {
  /* set relative so close button can position with it */
  position: relative;
  width: 100%;
  border-radius: var(--radius);
  pointer-events: auto;
}

.close {
  padding: 6px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: white;
  border-radius: var(--radius);
  cursor: pointer;
  color: hsl(251, 10%, 21%);
}

.close:hover {
  background: hsl(236, 46%, 93%);
  transition: background-color 200ms ease;
}
