*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: rgb(241, 241, 247);
  color: rgb(25, 29, 51);
}

input, button, textarea, select {
  font: inherit;
}

img, video, picture, canvas {
  display: block;
}

#root {
  isolation: isolate;
}
