:root {
  --bg-skeleton: hsla(240, 9%, 37%, 0.365);
  --radius: 4px;

  --border-light: 1px solid hsl(220, 11%, 66%);

  --gap-edge: 14px;

  --color-primary: hsl(352, 77%, 60%);
  --color-primary-2: hsl(352, 62%, 50%);

  --color-hover-hint: hsla(352, 90%, 51%, 0.082);
}

.animate-skeleton {
  animation: pluse-skeleton 2s cubic-bezier(0.1, 0.04, 0.6, 0.99) infinite;
}

@keyframes pluse-skeleton {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}
